body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.vidCon {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent; 
    color: white;
    transition: all 0.3s ease;
}

.shop:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.grid-item {
    position: relative;
    overflow: hidden;
    height: 800px;
    width: 99%;
    aspect-ratio: 630 / 800;
    display: block;
    margin-bottom: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic {
    display: block;
    height: 100%;
    width: 99%;
    object-fit: cover;
    border-radius: 15px;
}

.over {
    position: absolute;
    inset: 0;
    width: 99%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.shall {
    margin-bottom: 3%;
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 5;
}

.shopNow {
    margin-bottom: 15%;
    height: 55px;
    width: 140px;
    font-size: 20px;
    z-index: 5;
    transition: all 0.3s ease;
    border: 1px solid white;
}

.shopNow:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.shopping {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

@media (max-width: 1000px) {
    .grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .grid {
    grid-template-columns: 1fr;
    }
    .title { font-size: 36px; }
    .over { font-size: 1rem; }
}
