body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 239, 239);
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

.vidCon {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent; 
    color: white;
    transition: all 0.3s ease;
}

.shop:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.grid-item {
    position: relative;
    overflow: hidden;
    height: 750px;
    width: 85%;
    aspect-ratio: 630 / 800;
    display: block;
    margin-bottom: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic {
    display: block;
    height: 100%;
    width: 99%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(500px);
    transition: all 0.3s ease;
}

.pic.show {
    opacity: 1;
    transform: translateY(0);
}

.over {
    position: absolute;
    inset: 0;
    width: 99%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.shall {
    margin-bottom: 3%;
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 5;
}

.shopNow {
    margin-bottom: 15%;
    height: 55px;
    width: 140px;
    font-size: 20px;
    z-index: 5;
    transition: all 0.3s ease;
    border: 1px solid white;
}

.shopNow:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.shopping {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.nvb {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgb(243, 239, 239);
    flex-direction: row;
}

.left {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.ecom {
    user-select: none;
    cursor: pointer;
    font-size: 25px;
}

.hme {
    font-size: 25px;
    margin-left: 40px;
}

.txt {
    font-size: 25px;
}

.nvsh {
    font-size: 25px;
}

.anim {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    user-select: none;
    overflow: hidden;
}

.anim:hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:black;
    text-decoration: none;
}

.anim::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #000;
    transition: all 0.5s ease;
}

.anim:hover::after {
    width: 100%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 30px;
    margin-right: 35px;
}

.icon {
    height: 30px;
    transition: all 0.3s ease;
}

.icon:hover {
    scale: 1.2;
    cursor: pointer;
}

.refundCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 75px);
    width: 100%;
    position: absolute;
    z-index: 50;
    pointer-events: none;
}

.refundBox {
    position: fixed;
    height: 600px;
    max-height: 90vh;
    width: 90%;
    max-width: 525px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    bottom: 110%;
    opacity: 0;
    transition: all 0.3s ease;
}

.refundBox.show {
    bottom: 20%;
    opacity: 1;
    pointer-events: auto;
}

.overlayed {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    background-color: black;
    inset: 0; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    user-select: none;
    pointer-events: none;
}

.overlayed.show {
    opacity: 0.9;
}

.retitle {
    margin-top: 75px;
    font-size: 40px;
}

.redesc {
    font-size: 18px;
}

.reform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lb {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

.on {
    margin-top: 20px;
}

.inp {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    padding-left: 10px;
    outline: none;
    border-radius: 15px;
}

.sub {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    margin-top: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.sub:hover {
    scale: 1.1;
}

.phoneNum::-webkit-inner-spin-button,
.phoneNum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.xCon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
}

.x {
    font-size: 35px;
    margin-top: 20px;
    margin-right: 30px;
    user-select: none;
    transition: all 0.3s ease;
}

.x:hover {
    opacity: 0.5;
    cursor: pointer;
}

.chosen {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    user-select: none;
    overflow: hidden;
}

.chosen::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #000;
    transition: all 0.5s ease;
}

.chosen::after {
    width: 100%;
}

.ref {
    font-size: 26px;
}

.adminCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 75px);
    width: 100%;
    background-color: rgb(243, 239, 239);
}

.adminPanel {
    background-color: black;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
    height: 700px;
    width: 900px;
    border-radius: 15px;
    overflow-y: auto;
}

.at {
    color: white;
    text-align: center;
    font-size: 65px;
    margin-top: 40px;
}

.pan {
    display: none;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.pan.show {
    display: flex;
}

.refBar {
    width: 90%;
    background-color: white;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
}

.ron, .rpn {
    font-size: 20px;
    text-align: center;
}

.rpn {
    margin-left: 40px;
}

.ro {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.trash {
    margin-left: 10%;
    height: 40px;
    transition: all 0.3s ease;
}

.trash:hover {
    opacity: 0.5;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
}

.no {
    color: white;
    font-size: 50px;
    opacity: 0.7;
}

.add {
    height: 60px;
    width: 150px;
    border-radius: 12px;
    font-size: 19px;
    outline: none;
    transition: all 0.3s ease;
}

.add:hover {
    scale: 1.1;
}

.contactCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(85vh - 75px);
    width: 100%;
    background-color: rgb(243, 239, 239);
}

.all {
    width: 90%;
    max-width: 1000px;
    height: auto;
}

.cotitle {
    margin-top: 35px;
    font-size: 25px;
}

.corow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.cinp {
    width: 50%;
    height: 50px;
    margin-top: 25px;
    padding-left: 10px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
}

.cocol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phone {
    width: 100%;
}

.msg {
    resize: none;
    width: 100%;
    height: 350px;
    font-size: 20px;
}

.msg::placeholder {
    font-size: 20px;
}

.cosub {
    height: 50px;
    width: 125px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 19px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.cosub:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.msgBox {
    height: 90px;
    min-width: 50%;
    background-color: white;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    transition: all 0.3s ease;
    color: black;
    text-decoration: none;
}

.msgBox:hover {
    opacity: 0.7;
    transform: translateY(-6px);
    cursor: pointer;
}

.view {
    margin-top: 10px;
}

.mname {
    font-size: 30px;
}

.bCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 75px);
    width: 100%;
}

.bBox {
    height: 750px;
    width: 600px;
    background-color: black;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menu {
    height: 40px;
    display: none;
    transition: all 0.4s ease;
}

.menu:hover {
    opacity: 0.6;
    cursor: pointer;
}

.menuBox {
    height: calc(100vh - 75px);
    width: 100%;
    background-color: rgb(243, 239, 239);
    position: fixed;
    transform: translateY(1500px);
    color: black;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 500000;
}

.menuBox.show {
    transform: translateY(0);
}

.del {
    height: 50px;
    width: 150px;
    background-color: red;
    color: black;
    font-size: 20px;
    border-radius: 12px;
    transform: translateY(150px);
    outline: none;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.del:hover {
    opacity: 0.7;
    cursor: pointer;
}

.mobAnim {
    display: block !important;
    font-size: 30px;
    color: black; 
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.mobAnim:hover {
    cursor: pointer;
    color: black;
    opacity: 0.3;
}

.profileCon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 300px);
    background-color: rgb(243, 239, 239);
}

.head2 {
    margin: 0;
    margin-top: 60px;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.head1 {
    margin: 0;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}

.profileForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 650px;
    width: 90%;
    min-width: 250px;
}

.emailInp {
    margin-top: 30px;
    height: 45px;
    width: 475px;
    background-color: transparent;
    border-right: none;
    outline: none;
    font-size: 20px;
    padding-left: 15px;
}

.submitBtn {
    width: 150px;
    height: 51px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;    
    transition: all 0.3s ease;
    border: 2px solid black;
}

.submitBtn:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.emailsPan.show {
    display: flex;
    flex-direction: column;
}

.emailDiv {
    margin-top: 15px;
    background-color: white;
    width: 50%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 12px;
}

.addMod {
    height: 700px;
    width: 900px;
    z-index: 51050150;
    background-color: rgb(0, 0, 0);
    position: fixed;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    opacity: 0;
    transform: translateY(500px);
    transition: all 0.3s ease;
}

.addMod.show {
    transform: translateY(0);
    opacity: 1;
}

.addt {
    margin-top: 35px;
}

.addPro {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
}

.addInp {
    height: 35px;
    width: 300px;
    border-radius: 12px;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    outline: none;
}

.addName {
    margin-bottom: 20px;
}

.addPrice {
    margin-bottom: 20px;
}

.addQuantity {
    margin-bottom: 20px;
}

.addPics {
    margin-bottom: 20px;
}

.alb {
    font-size: 20px;
    margin-bottom: 10px;
}

.productsPan {
    display: none;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    overflow-y: auto;
}

.cgrid {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 20px;
    padding: 20px;
    background-color: rgb(243, 239, 239);
}

.cgrid-item {
    background-color: rgb(243, 239, 239);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.cgrid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}

.prodImg {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.prodName {
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.prodPrice {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    font-size: 16px;
}

.imgCon {
    position: relative;
    width: 100%;
}

.addToCart, .quickView {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    width: 250px;
    height: 50px;
    font-size: 17px;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
}

.addToCart:hover, .quickView:hover {
    background-color: transparent;
    color: black;
}

.imgCon:hover .addToCart {
    opacity: 1;
    transform: translateX(-50%) translateY(-25px);
}

.imgCon:hover .quickView {
    opacity: 1;
    transform: translateX(-50%) translateY(-85px);
}

.productContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftPro {
    height: 100%;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(243, 239, 239);
}

.rightPro {
    background-color: rgb(243, 239, 239);
    height: 100%;
    width: 50%;
    padding-left: 100px;
}

.carousel {
    position: relative;
    width: 95%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 12px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    margin-top: 1.25vh;
    height: 90vh;
    border-radius: 12px;
    user-select: none;
    -webkit-user-drag: none;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 18px;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.proTitle {
    font-size: 60px;
    margin-top: 150px;
}

.proPrice {
    font-size: 27.5px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.proSize {
    font-size: 18px;
    margin-left: 5px;
}

.size-options {
  display: flex;
  gap: 10px;
}

.size-btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 12.5px 25px;
    background-color: #fff;
    color: #000;
    outline: none;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

.size-btn.clicked {
    background-color: black;
    color: white;
}

.size-btn:hover {
    opacity: 0.8;
    scale: 1.04;
}

.rdb {
  display: none;
}

.quantityBox {
    width: 175px;
    border: 1px solid black;
    background-color: transparent;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.number {
    font-size: 25px;
}

.plus, .minus {
    font-size: 37px;
    transition: all 0.3s ease;
}

.plus:hover, .minus:hover {
    opacity: 0.6;
    cursor: pointer;
}

.adt {
    margin-top: 25px;
    width: 80%;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    background-color: transparent;
    transition: all 0.3s ease;
}

.adt:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.cartCon {
    background-color: rgb(243, 239, 239);
    display: flex;
    flex-direction: column;
}

.cartTitle {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 50px;
}

.itemDiv {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    width: 40%;
    flex-direction: row;
    border: 1px solid black;
    height: 175px;
    align-items: center;
    border-radius: 12px;
}

.itemImg {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 3%;
}

.deets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
}

.deleteDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.cartDel {
    height: 55px;
    width: 55px;
    margin-right: 7.5%;
    transition: all 0.3s ease;
}

.cartDel:hover {
    opacity: 0.7;
    cursor: pointer;
}

.centerNone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100%;
}

.none {
    opacity: 0.6;
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-align: center;
}

.totalCon {
    display: flex;
    width: 55%;
    align-items: center;    
    flex-direction: column;
}

.totalDiv {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total {
    margin-left: 5%;
    font-size: 18px;
    width: 100px;
}

.checkout {
    margin-top: 1%;
    width: 45%;
    height: 55px;
    font-size: 20px;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.checkout:hover {
    background-color: transparent;
    color: black;
}

@media (max-width: 1020px) {
    .productContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .leftPro, .rightPro {
        width: 100%;
    }

    .leftPro {
        display: flex;
        margin-top: 625px;
    }

    .rightPro {
        padding-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .rightPro {
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .cgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .cgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cgrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    .grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .anim {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media (max-width: 600px) {
    .grid {
    grid-template-columns: 1fr;
    }

    .title { font-size: 50px; }

    .over { font-size: 1rem; }

    .retitle {
        font-size: 28px;
        text-align: center;
    }

    .redesc {
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
    }

    .inp {
        width: 80%;
        height: 45px;
        font-size: 16px;
    }

    .sub {
        width: 70%;
        height: 45px;
        font-size: 16px;
    }

    .x {
        font-size: 28px;
        margin-top: 15px;
        margin-right: 20px;
    }

    .grid-item {
        width: 95%;
        height: 600px;
        margin-bottom: 15px;
    }


}

