body, html {
    margin: 0;
    padding: 0;
}

.vidCon {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.9;
}