body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.vidCon {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border: 1px solid white;
    background-color: transparent; 
    color: white;
    transition: all 0.3s ease;
}

.shop:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.grid-item {
    position: relative;
    overflow: hidden;
    height: 800px;
    width: 99%;
    aspect-ratio: 630 / 800;
    display: block;
    margin-bottom: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic {
    display: block;
    height: 100%;
    width: 99%;
    object-fit: cover;
    border-radius: 15px;
}

.over {
    position: absolute;
    inset: 0;
    width: 99%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.shall {
    margin-bottom: 3%;
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 5;
}

.shopNow {
    margin-bottom: 15%;
    height: 55px;
    width: 140px;
    font-size: 20px;
    z-index: 5;
    transition: all 0.3s ease;
    border: 1px solid white;
}

.shopNow:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.shopping {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.nvb {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.ecom {
    user-select: none;
    cursor: pointer;
    font-size: 25px;
}

.hm {
    font-size: 25px;
    margin-left: 40px;
}

.txt {
    font-size: 25px;
}

.anim {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    overflow: hidden;
}

.anim:hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:black;
    text-decoration: none;
}

.anim::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #000;
    transition: all 0.5s ease;
}

.anim:hover::after {
    width: 100%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-right: 35px;
}

.icon {
    height: 30px;
    transition: all 0.3s ease;
}

.icon:hover {
    scale: 1.2;
    cursor: pointer;
}

.refundCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 75px);
    width: 100%;
    position: absolute;
    z-index: 50;
}

.refundBox {
    position: fixed;
    height: 600px;
    max-height: 90vh;
    width: 90%;
    max-width: 525px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    bottom: 110%;
    opacity: 0;
    transition: all 0.3s ease;
}

.refundBox.show {
    bottom: 20%;
    opacity: 1;
}

.overlayed {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    background-color: black;
    inset: 0; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    user-select: none;
    pointer-events: none;
}

.overlayed.show {
    opacity: 0.9;
}

.retitle {
    margin-top: 75px;
    font-size: 40px;
}

.redesc {
    font-size: 18px;
}

.reform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lb {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

.on {
    margin-top: 20px;
}

.inp {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    padding-left: 10px;
    outline: none;
    border-radius: 15px;
}

.sub {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    margin-top: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.sub:hover {
    scale: 1.1;
}

.phoneNum::-webkit-inner-spin-button,
.phoneNum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.xCon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
}

.x {
    font-size: 35px;
    margin-top: 20px;
    margin-right: 30px;
    user-select: none;
    transition: all 0.3s ease;
}

.x:hover {
    opacity: 0.5;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .grid {
    grid-template-columns: 1fr;
    }
    .title { font-size: 36px; }
    .over { font-size: 1rem; }

    .retitle {
        font-size: 28px;
        text-align: center;
    }

    .redesc {
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
    }

    .inp {
        width: 80%;
        height: 45px;
        font-size: 16px;
    }

    .sub {
        width: 70%;
        height: 45px;
        font-size: 16px;
    }

    .x {
        font-size: 28px;
        margin-top: 15px;
        margin-right: 20px;
    }


}

