<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - All Products</title>
    <link rel="icon" href="../static/4804045.png">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="nvb">
        <div class="left">
            <h1 class="ecom">Ecommerce</h1>
            <h1 class="hm anim">Home</h1>
            <h1 class="nvsh anim">Shop All</h1>
            <h1 class="txt refund anim">Refund</h1>
            <h1 class="txt contact anim">Contact Us</h1>
        </div>

        <div class="right">
            <img src="{{ url_for('static', filename='user.png')}}" class="prof icon">
            <img src="{{ url_for('static', filename='cart.png')}}" class="cart icon">
            <img src="{{ url_for('static', filename='menu.png')}}" class="menu">
        </div>

    </nav>

    <div class="cgrid">

        {# for clothing in clothes #}
            <div class="cgrid-item"></div>
        {# endfor #}

    </div>

    <div class="refundCon">
        <div class="refundBox">
            <div class="xCon">
                <h1 class="x">X</h1>
            </div>
            <h1 class="retitle">Start Your Request</h1>
            <p class="redesc">Quick Returns, Smooth Exchanges.</p>
            <form action="{{ url_for('refund')}}" class="reform" method="post">
                <label class="lb on">Order Number</label>
                <input type="text" placeholder="#1234567" class="orderNum inp" name="orderNum" maxlength="7" required>
                <label class="lb">Last 4 Digits Of Phone</label>
                <input type="text" inputmode="numeric" maxlength="4" pattern="\d*" placeholder="1234" class="phoneNum inp" name="phoneNum" required>
                <input type="submit" class="sub" value="Refund Order">
            </form>
        </div>
    </div>

    <div class="overlayed"></div>

    <div class="emailCon">
        <div class="emailBox"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const ecom = document.querySelector('.ecom');
        const home = document.querySelector('.hm');
        const refund = document.querySelector('.refund');
        const overlay = document.querySelector('.overlayed');
        const refundCon = document.querySelector('.refundCon');
        const refundBox = document.querySelector('.refundBox');
        const contact = document.querySelector('.contact');
        const x = document.querySelector('.x');
        const phoneNum = document.querySelector(".phoneNum");
        const all = document.querySelector('.nvsh');

        all.classList.add('chosen');

        contact.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('contact')}}"
        })

        phoneNum.addEventListener("input", () => {
        phoneNum.value = phoneNum.value.replace(/\D/g, '').slice(0, 4);
        });

        refund.addEventListener('click', ()=> {
            refundBox.classList.add('show');
            overlay.classList.add('show');
        });

        x.addEventListener('click', ()=> {
            refundBox.classList.remove('show');
            overlay.classList.remove('show');
        })

        document.addEventListener('click', (e)=> {
            if (refundBox.classList.contains("show") && !refund.contains(e.target) && !refundBox.contains(e.target)) {
                refundBox.classList.remove('show')
                overlay.classList.remove('show');
            }
        })

        home.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('home')}}"
        })

        ecom.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('home')}}"
        })
    </script>
</body>
</html>