<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Checkout</title>
    <link rel="icon" href="../static/4804045.png">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <nav class="nvb">
        <div class="left">
            <h1 class="ecom">Ecommerce</h1>
        </div>

        <div class="right">
            <img src="{{ url_for('static', filename='cart.png')}}" class="cart icon">
        </div>
    </nav>

    <div class="checkoutCon">
        <div class="leftCheck">
            <div class="delCon">
                <form class="delieveryForm" action="{{ url_for('checkout')}}" method="post">
                    <h1 class="deTitle">Delivery</h1>
                    <div class="rowDiv">
                        <input type="text" name="firstName" class="firstName deInp" placeholder="First Name" required>
                        <input type="text" name="lastName" class="lastName deInp" placeholder="Last Name" required>
                    </div>
                    <input type="text" name="address" class="address deInp" placeholder="Address" required>
                    <input type="text" name="apt" class="apt deInp" placeholder="Apartment, suite, etc. (optional)">
                    <div class="rowDiv">
                        <input type="text" name="city" class="city deInp" placeholder="City" required>
                        <input type="text" name="gov" class="gov deInp" placeholder="Governorate" required>
                        <input type="text" name="postal" class="postal deInp" placeholder="Postal Code (optional)">
                    </div>
                    <input type="text" name="phone" class="phone deInp" placeholder="Phone Number" required>
                    <input type="submit" value="Pay Now" class="payBtn">
                </form>
            </div>
        </div>
        <div class="rightCheck">
            <h1 class="rightTitle">Cart total: {{ total }} EGP</h1>
            <h1 class="rightTitle">Shipping: {{ shipping_fee }} EGP</h1>
            <h1 class="rightTitle">Final total: {{ total + shipping_fee }} EGP</h1>
        </div>
    </div>
   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>