<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Contact Us</title>
    <link rel="icon" href="../static/4804045.png">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
</head>
<body>
    <nav class="nvb">
        <div class="left">
            <h1 class="ecom">Ecommerce</h1>
            <h1 class="hm anim">Home</h1>
            <h1 class="txt refund anim">Refund</h1>
            <h1 class="txt contact anim">Contact Us</h1>
        </div>
        
        <div class="center"></div>

        <div class="right">
            <img src="../static/user.png" class="prof icon">
            <img src="../static/cart.png" class="cart icon">
        </div>

    </nav>

    <div class="contactCon">
        <div class="all">
            <h1 class="cotitle">Contact Us</h1>
            <form class="corow">
                <input type="text" name="name" class="name cinp" placeholder="Name">
                <input type="email" name="email" class="email cinp" placeholder="Email@Address.com">
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const contact = document.querySelector('.contact');

        contact.classList.add('chosen');

    </script>
</body>
</html>