<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="icon" href="../static/4804045.png">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="vidCon">
        <video class="vid" autoplay muted loop playsinline width="600">
            <source src="../static/showcase.mp4" type="video/mp4">
        </video>
        <div class="overlay">
            <button class="shop">Shop All</button>
        </div>
    </div>

    <div class="collections">
        <h1 class="title">Collections</h1>

        <div class="grid">
            <div class="grid-item g1">
                <img src="../static/Shop All.png" class="pic">
                <div class="over"></div>
                <div class="shopping">
                    <h1 class="shall">Shop All</h1>
                    <button class="shopNow">Shop Now</button>
                </div>
            </div>
            
            <div class="grid-item g2">
                <img src="../static/Jackets.png" class="pic">
                <div class="over"></div>
                <div class="shopping">
                    <h1 class="shall">Jackets</h1>
                    <button class="shopNow">Shop Now</button>
                </div>
            </div>
            
            <div class="grid-item g3">
                <img src="../static/Tops.png" class="pic">
                <div class="over"></div>
                <div class="shopping">
                    <h1 class="shall">Bottoms</h1>
                    <button class="shopNow">Shop Now</button>
                </div>
            </div>

            <div class="grid-item g4">
                <img src="../static/Bottom.png" class="pic">
                <div class="over"></div>
                <div class="shopping">
                    <h1 class="shall">Tops</h1>
                    <button class="shopNow">Shop Now</button>
                </div>
            </div>

            <div class="grid-item g5">
                <img src="../static/Hoodies.png" class="pic">
                <div class="over"></div>
                <div class="shopping">
                    <h1 class="shall">Hoodies</h1>
                    <button class="shopNow">Shop Now</button>
                </div>
            </div>

            <div class="grid-item g6">
                <img src="../static/Crewnecks.png" class="pic">
                <div class="over"></div>
                <div class="shopping">
                    <h1 class="shall">Crewnecks</h1>
                    <button class="shopNow">Shop Now</button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>