<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="icon" href="../static/4804045.png">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="vidCon">
        <video class="vid" autoplay muted loop playsinline width="600">
            <source src="../static/showcase.mp4" type="video/mp4">
        </video>
        <div class="overlay">
            <button class="shop">Shop All</button>
        </div>
    </div>

</body>
</html>