<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - {{ order.id }}</title>
</head>
<body>
    <h1>Order Number: {{ order.id }}</h1>
    <h1>Total: {{ order.total }} EGP</h1>
    <h1>First Name: {{ order.firstName }}</h1>
    <h1>Last Name: {{ order.lastName }}</h1>
    <h1>Address: {{ order.address }}</h1>
    <h1>Apartment: {{ order.apt }}</h1> 
    <h1>City: {{ order.city }}</h1>
    <h1>Governorate: {{ order.gov }}</h1>
    <h1>Postal Code: {{ order.postal }}</h1>
    <h1>Phone Number: {{ order.phone }}</h1>
</body>
</html>