<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Email</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>

    <nav class="nvb">
        <div class="left">
            <h1 class="ecom">Ecommerce</h1>
            <h1 class="hm hme anim">Home</h1>
            <h1 class="nvsh anim">Shop All</h1>
            <h1 class="txt refund anim">Refund</h1>
            <h1 class="txt contact anim">Contact Us</h1>
        </div>

        <div class="right">
            <img src="{{ url_for('static', filename='user.png')}}" class="prof icon">
            <img src="{{ url_for('static', filename='cart.png')}}" class="cart icon">
            <img src="{{ url_for('static', filename='menu.png')}}" class="menu icon">
        </div>
    </nav>


    <div class="profileCon">
            <form class="profileForm" action="{{ url_for('profile') }}" method="post">
                <input type="email" name="email" class="emailInp">
            </form>
    </div>
</body>
</html>